body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(#346e39, #47964e);
}

header{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 1rem 0 1rem;
    color: #cff8d3;
}

.container {
    margin: 4rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

.button-form {
    color: white;
    background-color: #44914a;
    cursor: pointer;
    font-size: 1rem;
}

.form-wrapper {
    background-color: #2a572e;
    padding: 20px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.form-group {
    margin-bottom: 1.5rem;
    /* border: 1px solid gray; */
}

.form-control {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    padding: .4rem .7rem;
    margin-bottom: 1rem;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: .7rem;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    margin-right: .5rem;
    height: 1.25rem;
    width: 1.25rem;
}

input[type="text"], input[type="email"], input[type="number"], textarea, select{
    font-size: 1rem;
}

textarea {
    min-height: 7rem;
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 2rem;
}

